* {
    margin: 10;
    padding: 0;
}

.list{
  margin-left: 3%;
}

body {
 background-color: orange;
}

h1 {
  font-size: 30px;
}

a {
  color: blue;
}

table {
  border: 1px solid white;
}

li {
  text-decoration: underline;
}

.section-content {
  color: black;
  font-size: 20px;
}

.header {
  text-decoration: underline;
}

#section1 {
  text-align: center;
}

#footer {
  border: 2px solid blue;
}

#header {
  background-color: yellow;
}

a[href="https://www.ucvts.tec.nj.us/"] {
  color: purple;
}

a[href="https://www.ucvts.tec.nj.us/Page/471"] {
  color: purple;
}

div p.second {
  font-weight: 600px;
}

img {
  height: 250px;
  width: 275px;
  border: 1px solid red;
}

p {
  font-size: 18px;
}

div p {
  font-size: 20px;
}

div ol {
  font-size: 18px;
}

div ol li {
  color: gray;
}
